.button {
    background-color: rgb(26, 107, 199);;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.add-task-button-container {
    margin-left: 10px;
    flex: 1;
}